.imp-date span{ 
    color: white;
    
}
.imp-date h1{
    text-align: center;
    color: #FF8000;
}

.imp-date{
    text-align: center;
    margin-top: 60px;
}

.date-table{
    margin-top: 50px;
    line-height: 2.5;
    /* text-align:justify; */
    
}



.table-text{
    text-align: center;
}

@media only screen and (max-width: 762px)  
{
    .date-table{
        margin-top: 50px;
        line-height: 1.5;
    }
    .imp-date{
        text-align: center;
        margin: 0;
    }
}


