.hero {
    position: relative; 
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.contact span{
  color: #FF8000;
}

.form{
  margin-left: 20px;

}
.btn{
  padding-left: 30px;
  padding-right: 30px;
}

/* .hero::before {    
      content: "";
    
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;


} */

.date h2{
  color: #FF8000;
  line-height: 1.2;
}

h1 {
  margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  position: relative;
  color: #ffffff;  
  font-size: 43px;
  line-height: 1.2;
  text-align: left;
  /* color: #444444; */
    color: #0D0D0D;
  /* color: orangered; */

/* text-shadow: 1px 0px 1px #444444, 0px 1px 1px #444444, 3px 2px 1px #444444, 2px 3px 1px #444444, 4px 3px 1px #444444,  4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE */
}

@media only screen and (max-width: 762px)  {
    h1{
        font-size: 28px;
        text-align: left;
    }
    .date-main{
      margin-bottom: 30px;
      text-align: center;
    }
        .hero{
          height: 70vh;
        }
}