.mycol{
   background-color: #fff;

   box-shadow: rgba(252, 248, 248, 0.35) 0px 5px 15px;
   margin-top: 40px;
   border-radius: 17px;
   color: black;

}

.row{
    justify-content: space-around;
}

.container h1{
    color: #FF8000;
    text-align: center;

}

.container p{
    margin-left: 5%;
    margin-top: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 762px)  
{
    .mycol{
        width: 90%;
    }
}


/* animation */

/* .text {
    font-family: 'arial black';    
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
    animation-delay: calc(var(--scroll)*-1s);
}

@keyframes slide-in-anim {
    20% {
        opacity: 0;
    }

    60% {
        transform: translateX(-45%);
    }

    75% {
        transform: translateX(-52%);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
} */